@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import 'variables.css';

body {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
}

main {
    padding: 50px 0;
}

.navbar {
    border: none;
    border-radius: 0;
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-link  {
    color: var(--color-primary);
    transition: color var(--transition-duration) var(--transition-function);
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
    color: var(--color-highlight);
}

footer {
    margin-top: 200px;
    padding: 50px 0 10px 0;
    text-align: center;
    background-color: var(--bg-color-footer);
    font-size: 1.2em;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

input {
  transition: background-color var(--transition-duration) var(--transition-function);
  background: white;
}

input.ng-invalid {
  background-color: rgba(255,0,0,0.1);
  color:white;
}

.animate.ng-enter {
    transition: opacity .3s ease-in-out;
    opacity: 0
}

.animate.ng-enter-stagger {
    transition-delay: .1s;
    transition-duration: 0s
}

.animate.ng-enter.ng-enter-active {
    opacity: 1
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}